html,
body {

}

body {

				display: block;
			padding-top: 0;
			padding-bottom: 0;
			background-color: #f5f5f5;
}

.form-signin {
		width: 100%;
		height: 150px;
		padding: 10px 15px;
		background-color: #007BFF; /* Puedes poner el color que quieras */
		color: white; /* Texto blanco */
		box-shadow: 0px 2px 4px rgba(0,0,0,0.2); /* Sombra opcional */
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.mb-4{
	position: absolute;
	margin-top: 10px;
}
.Titulo{
	position: absolute;
	margin-left: 150px;
	margin-top: 35px;
}
.boton-google{
	position: absolute;
	margin-top: 50px;
	margin-left: 350px;
}
.boton-face{
	position: absolute;
	margin-top: 50px;
	margin-left: 550px;
}
.cerrar-sesion{
	position: absolute;
	margin-top: 50px;
	margin-left: 550px;
}
